<div class="main-div">
  <mat-toolbar class="title">
      <mat-icon>business_center</mat-icon>
      <div class="title-div">
          <span class="title-text">Recent Transactions</span>
      </div>
  </mat-toolbar>

  <div matSort class="table-container mat-elevation-z8">
      <div class="table-header">
          <mat-form-field floatLabel="never">
            <input matInput #filter placeholder="Search by typing...">
            <mat-icon matSuffix *ngIf="filter.value !== ''" class="filter-icon" (click)="clearFilter()">close</mat-icon>
          </mat-form-field>
          <div class="div-sort">
              <strong class="sort-title"> Sort by:</strong> 
              <mat-button-toggle-group #sortByElement="matButtonToggleGroup"
                 (click)="changeSortBy(sortByElement, 'asc')" 
                 value="transactionDate">
                  <mat-button-toggle value="transactionDate">
                    Date
                    <mat-icon *ngIf="sort.active=='transactionDate' && sort.direction=='asc'">arrow_drop_down</mat-icon>
                    <mat-icon *ngIf="sort.active=='transactionDate' && sort.direction=='desc'">arrow_drop_up</mat-icon>
                  </mat-button-toggle>
                  <mat-button-toggle value="merchant">
                    Beneficiary
                    <mat-icon *ngIf="sort.active=='merchant' && sort.direction=='asc'">arrow_drop_down</mat-icon>
                    <mat-icon *ngIf="sort.active=='merchant' && sort.direction=='desc'">arrow_drop_up</mat-icon>
                  </mat-button-toggle>
                  <mat-button-toggle value="amount">
                    Amount
                    <mat-icon *ngIf="sort.active=='amount' && sort.direction=='asc'">arrow_drop_down</mat-icon>
                    <mat-icon *ngIf="sort.active=='amount' && sort.direction=='desc'">arrow_drop_up</mat-icon>
                  </mat-button-toggle>
                </mat-button-toggle-group>
          </div>
      </div>
      <mat-table #table [dataSource]="transactionDataSource">
        <ng-container matColumnDef="transactionDate">
            <mat-header-cell *matHeaderCellDef></mat-header-cell>
            <mat-cell *matCellDef="let row"  class="row-border" [ngStyle]="{'border-left-color': row.categoryCode}"> 
                <span>{{row.transactionDate | date:'MMM. d'}}</span> 
            </mat-cell>
        </ng-container>
      
        <ng-container matColumnDef="merchantLogo">
            <mat-header-cell *matHeaderCellDef>  </mat-header-cell>
          <mat-cell *matCellDef="let row"> 
            <img [src]="row.merchantLogo" class="merchant-logo">
          </mat-cell>
        </ng-container>
    
        <ng-container matColumnDef="merchant">
            <mat-header-cell *matHeaderCellDef> </mat-header-cell>
          <mat-cell *matCellDef="let row"> <strong class="merchant">{{row.merchant}}</strong>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="transactionType">
          <mat-header-cell *matHeaderCellDef> </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.transactionType}} 
        </mat-cell>
      </ng-container>
    
        <ng-container matColumnDef="amount">
            <mat-header-cell *matHeaderCellDef>  </mat-header-cell>
          <mat-cell *matCellDef="let row"> 
              <strong>- {{ row.amount | currency }}</strong>
          </mat-cell>
        </ng-container>
    
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>
      
      <mat-paginator #paginator
                    [length]="transactionsList.length"
                    [pageIndex]="0"
                    [pageSize]="10"
                    [pageSizeOptions]="[5, 10, 25, 100]">
      </mat-paginator>
  </div>
</div>
