<h2 md-dialog-title>Confirmation</h2>
<md-dialog-content>

  <p><strong>From Account:</strong>
  <br>Free Checking (4692) - {{data.availableBalance | currency:'USD':true}}
  </p>

  <p><strong>To Account:</strong>
  <br>{{data.transaction.merchant}}</p>

  <p><strong>Amount:</strong>
  <br>{{data.transaction.amount | currency:'USD':true}}</p>
  
</md-dialog-content>
<md-dialog-actions >
  <button md-button tabindex="1" class="transfer" (click)="transfer()"[disabled]="showLoading" >{{buttonText}}</button>
  <button md-button md-dialog-close tabindex="-1" [disabled]="showLoading">Cancel</button>
</md-dialog-actions>

<div class="loading" *ngIf="showLoading">
    <md-progress-bar mode="indeterminate"></md-progress-bar>
</div>
