<h2 mat-dialog-title>Confirmation</h2>
<mat-dialog-content>

  <p><strong>From Account:</strong>
  <br>Free Checking (4692) - {{data.availableBalance | currency:'USD':'true'}}
  </p>

  <p><strong>To Account:</strong>
  <br>{{data.transaction.merchant}}</p>

  <p><strong>Amount:</strong>
  <br>{{data.transaction.amount | currency:'USD':'true'}}</p>
  
</mat-dialog-content>
<mat-dialog-actions >
  <button mat-button tabindex="1" class="transfer" (click)="transfer()"[disabled]="showLoading" >{{buttonText}}</button>
  <button mat-button mat-dialog-close tabindex="-1" [disabled]="showLoading">Cancel</button>
</mat-dialog-actions>

<div class="loading" *ngIf="showLoading">
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</div>
