<form class="make-a-transfer-form" [formGroup]="makeATransferForm" (ngSubmit)="submit()" novalidate>
  <mat-toolbar class="title">
      <mat-icon>swap_horiz</mat-icon>
      <div class="title-div">
          <span class="title-text">Make a Transfer</span>
      </div>
  </mat-toolbar>
  <div class="form-div">
    <mat-form-field class="make-a-transfer-full-width">
        <input matInput placeholder="From Account" value="Free Checking (4692) - {{availableBalance | currency:'USD':'true'}}" [disabled]="true" >
    </mat-form-field>
    <mat-form-field class="make-a-transfer-full-width">
        <input matInput placeholder="To Account" formControlName="merchant" errorState="makeATransferFormAccount.invalid && makeATransferFormAccount.dirty"
        [(ngModel)]="transaction.merchant"  [matAutocomplete]="auto" >
        <mat-error *ngIf="makeATransferFormAccount.invalid && makeATransferFormAccount.dirty">
            Account is <strong>required</strong>
        </mat-error>
        <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let trans of filteredTransactions | async" [value]="trans.merchant">
                <img style="vertical-align:middle;" aria-hidden src="{{trans.merchantLogo}}" height="25" />
                <span>{{ trans.merchant }}</span>
            </mat-option>
        </mat-autocomplete>
    </mat-form-field>
    <mat-form-field class="make-a-transfer-full-width">
        <input currencyMask matInput placeholder="Amount" formControlName="amount" (keyup)="onKeyAmount()"
        [options]="{allowNegative: false, align: 'left'}" [(ngModel)]="transaction.amount"
        >
        <mat-error *ngIf="(makeATransferFormAmount.errors && makeATransferFormAmount.errors.required &&
                          makeATransferFormAmount.dirty) || transaction.amount === '0'">
            Amount is <strong>required</strong>
        </mat-error>
        <mat-error *ngIf="makeATransferFormAmount.errors && makeATransferFormAmount.errors.max &&
                makeATransferFormAmount.dirty">
                It should be a maximum <strong>$500.00</strong>
        </mat-error>
    </mat-form-field>
    <br><br><br>
    <button class="submit" type="submit" align="right" mat-raised-button color="primary" 
            [disabled]="!makeATransferForm.valid || transaction.amount === '0' || showNoFunds || disabledSubmit"
     >SUBMIT</button>
    <br><br><br>

    <div class="loading">
         <span *ngIf="showConfirmation">Transaction was completed!</span><br>
         <span>Created by <a href="https://github.com/jmchaves" target="_blank">Javier Munoz</a></span>
    </div>

    <div class="loading error-no-Funds" *ngIf="showNoFunds">
            <span>The account does not have sufficient funds!</span>
    </div>
    
</div>
</form>
